ul.nav1{
    margin-left: 0px;
    padding-left: 10px;
    list-style: none;
    position: fixed;   
    width: 100%;
    
    background-color: black;
}
.nav1 li { 
    display: inline; 
     
}
ul.nav1 a {
    display: inline-block;
    width: 5em;
    padding:5px;
    margin-bottom: 10px; 
    margin-top: 5px;
    margin-left: 2px;
    background-color: #f4f4f4;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav1 a:hover{
    background-color: #333;
    color: #f4f4f4;
}
ul.nav1 a:focus{

    color: white;
    background-color: black;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
 
    }
.hipanel{
    border: 1px solid black;
    background: rgba(143, 255, 240, 0.651);
    margin: 0px;
    padding: 1px;
    
}
.userp{
    position: relative;
    float: right;
    display: block;
    list-style: none;
    padding-right: 2em;
}
.back{
    display: inline-block;
    color: white;
    margin: 10px;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .3em 2em;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    background-color: black;
}
#main{
    margin-bottom: 10em;
    margin-top: 25%;
    
}

.nav-static li{
    margin: 0px; 
    display: inline-block;
    font-size: 40px;
    padding: 0px;
}
.nav-static a{
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    
}