ul.nav{
    margin-left: 0px;
    padding-left: 10px;
    list-style: none;
    position: fixed;
    bottom: -18px;    
    width: 100%;
    
    background-color: black;
}
.nav li { 
    display: inline; 
     
}
ul.nav a {
    display: inline-block;
    width: 5em;
    padding:10px;
    margin-bottom: 10px; 
    margin-top: 5px;
    margin-left: 2px;
    background-color: #f4f4f4;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}
ul.nav a:focus{

    color: white;
    background-color: black;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    }
.hipanel{
    border: 1px solid black;
    background: rgba(143, 255, 240, 0.651);
    margin: 0px;
    padding: 1px;
    
}
.hipanel .userp{
    position: relative;
    float: right;
    display: block;
    list-style: none;
    padding-right: 40px;
}
.back{
    display: inline-block;
    color: white;
    margin: 10px;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .3em 2em;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    background-color: black;
}
.main{
    min-width: 100%;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
    background-color: rgba(143, 255, 240, 0.651);
}