
.page{
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    outline: none;
    width: 100%;
}
.title{
    padding-right: 5px;
    font-size: 15px;
    text-align: left;
}
.summary{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    font-size: 15px;
}

.title-page{

    width: 100%;
 
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    line-height: 60px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: 2s;
    text-shadow: 0px 0px 0px #558B2F;
    position: relative;
    top: 0px;
    left: 0px;
}

.text{
    padding: 5%;
    font-size: 15px;
    text-align: justify;
}
