.searchBox{
  width: 100%;
  box-sizing: border-box;
  background-position: left;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 50px;
  border: none;
  border-bottom: 1px solid #ddd; 
  background-size: 45px 45px; 
  margin-left: 10px;
}
.searchBox:focus {outline: 3px solid #ddd;}
.settingConteiner{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.settings {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}
.alert-secces{
    background-color: lawngreen;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 12px 20px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
}
.alert-error{
    background-color: tomato;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 12px 20px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
}
.button-save{
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
    transition: .5s;
}

.button-save:focus{
    box-shadow: 0 0 0 0 rgba(0,40,120,0);
    background-position: 0 0;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; 
    width: 100%;
  }
  
  .custom-dropdown select {
    cursor:pointer;
    background-color: #2980b9;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;	
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    width: 100%;
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }
  
  .big {
    font-size: 1.2em;
  }

  .custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,.4);
  }