.searchBox{
  width: 100%;
  box-sizing: border-box;
  background-position: left;
  background-repeat: no-repeat;
  font-size: 15px;
  padding: 15px 15px 15px 15px;
  border: 1px solid rgb(75, 75, 189);
  background-size: 15px 15px; 
  padding-top: 0px;
  padding-bottom: 0px;
}
.searchBox:focus {outline: 3px solid #ddd;}
.settingConteiner{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 30%;
}
.settings {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
.alert-secces{
    background-color: lawngreen;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
    text-align: center;
}
.alert-error{
    background-color: tomato;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 12px 20px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
}
.button-save{
    width: 100%;
    text-align: center;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; 
    margin-left: 0px;
    width: 100%;
  }
  
  .custom-dropdown select {
    cursor:pointer;
    background-color: #2980b9;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;	
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    width: 100%;
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 20px;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }
  
  .big {
    font-size: 1.2em;
  }

  .custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,.4);
  }

  .bt{
    font-size: 15px;
  }
  .mt{
    font-size: 10px;
  }