{% extends "pasresetbase.html" %}
{% block reset %}
<p class="alert-secondary bt" style="text-align: center;">Регистрация</p>
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
            <div class="form-group bt">
                <label for="exampleInputPassword1">{{ field.label }}*</label>
                <div>{{field}}</div>
                {% if field.label != 'Email'%}
                <div class="alert alert-info mt">{{field.help_text}}</div>
                {% endif %}
              </div>

            {% endfor %}
            <input class="btn btn-success button-save bt" type="submit" value="Зарегистрировать">
        </form>
        <a class="btn btn-outline-primary button-save bt" style="text-align: center;" href="{% url 'login' %}">Вернуться к авторизации</a>
    </div>
{% endblock %}

