
{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title>Summary</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/main.css'%}">
      <link rel="stylesheet" href="{% static 'css/page.css'%}">
      <link rel="stylesheet" href="{% static 'css/search.css'%}">
      <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">    
      <style>
         .favorite{
            position: relative;
            float: right;
            display: block;
            width: 30px;
            height: 30px;
            padding: 0px;
            margin-right: 0px;
            margin-top: 20px;
            cursor:pointer;
         }
      </style>
   </head>
   <body>
      <nav class="navbar navbar-light bg-light fixed-top" style=" height: 15%; padding:0px;" >
         <a class="navbar-brand bt" href="{% url 'main' %}">
           <img src="{% static 'img/favicon.ico' %}" width="20" height="20" class="d-inline-block align-top" alt="" >
           {{titlepanel}}
         </a>
            <div class="userp">
               <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                        <li class="mt" style="text-align: left;">{{ user.get_username }}</li>
                        <li><a class="btn btn-primary mt" style="padding: 3px;" href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>     
                  {% endif %} 
               </ul>
            </div>
      </div>
   </nav>
      <div class="conteiner" id="main">
         {% block content %}   
         {% endblock %}
      </div>   
      <script>
         links =  [
         "{% static 'img/Star1.png'%}",
         "{% static 'img/Star2.png'%}",
         "{% static 'img/search.png'%}",
         "{% static 'img/noimage.png' %}",
         ];
      </script>
      <script src="{% static 'js/preloadimage.js' %}"></script>
      <script src="{% static 'js/main.js' %}" defer></script>
      <script src="{% static 'js/text-page.js' %}" defer></script>

      <nav class="navbar navbar-light bg-dark fixed-bottom nav-justified" style="height: 15%;margin: 0px; padding: 0px;">
         <div >
            <ul class="navbar-nav nav-static" style="display: inline-block;">
               <li class="nav-item" >        <a class="nav-link" style="color: white;margin: 0px; padding: 0px;" href="{% url 'main'%}"><img style="width: 30px; height: 100%;" src="https://img.icons8.com/nolan/256/share-2.png"/></a></li>
               <li class="nav-item" >       <a class="nav-link" style="color: white;margin: 0px; padding: 0px;"href="{% url 'favorit'%}"><img style="width: 30px; height: 100%;" src="https://img.icons8.com/nolan/256/bookmark-ribbon.png"/></a></li>
               <li class="nav-item" >       <a class="nav-link" style="color: white;margin: 0px; padding: 0px;"href="{% url 'history'%}"><img style="width: 30px; height: 100%;" src="https://img.icons8.com/nolan/256/info.png"/></a></li>
               <li class="nav-item" >       <a class="nav-link" style="color: white;margin: 0px; padding: 0px;"href="{% url 'settings'%}"><img style="width: 30px; height: 100%;" src="https://img.icons8.com/nolan/256/settings--v1.png"/></a></li>
            </ul>
         </div>
      </nav>
   </body>
</html>