{% extends 'base.html' %}   
{% load static %}
{% block content %}
        
            

            
            
            <div class="settingConteiner"> 
                {% if result %}
                <div class="alert-secces">
                    Настройки успешно обновлены
                </div >
                {% endif %}
            <form method="POST" class="settings">{% csrf_token %}
                {% for field in form %}

                    {% if field.errors  %}
                        <div class="alert-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    <div >
                        {% if field.label != "Time to new page" %}
                        <input type="text" placeholder="{{ field.label }}" class="searchBox" id="searchBox{% cycle '1' '2' %}" style="background-image: url('{% static 'img/search.png' %}')"><br>
                        {% endif %}
                        <span class="custom-dropdown bt"> 
                            {{ field }} 
                         </span>
                    </div>
                    
                {% endfor %}
            
            <button type="submit" class="btn-success btn-lg button-save">Сохранить</button>
            </form>
            </div>
        
        <script src="{% static 'js/search.js' %}" defer></script>
{%endblock%}